:root {
  --bongo-bg-gradient: linear-gradient(180deg, #e7b7fd 59.17%, #f2d8ff 100%);
  --bongo-purple: #6b0e97;
  --bongo-yellow: #ffc700;
  --bongo-tile: #f8ecfd;
  --bongo-tile-clicked: #c89eff;
  --bongo-border: 3px solid var(--bongo-purple);
  --bongo-font: "Jockey One", serif;
}

* {
  box-sizing: border-box;
}

.root {
  margin: 0 auto;
}

#root {
  height: 100vh;
  border: var(--bongo-border);
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: var(--bongo-bg-gradient);
  font-family: var(--bongo-font);
}

.navbar {
  width: 100vw;
  height: 72px;
  border-radius: 2px 2px 30px 30px;
  background-color: var(--bongo-purple);
  position: absolute;
  z-index: 50;
}

.bingoWrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bingoTile {
  width: calc(33%);
  height: calc(33%);
  border-radius: 5px;
  border: var(--bongo-border);
  background-color: var(--bongo-tile);
}

.bingoTile.clicked {
  background-color: var(--bongo-tile-clicked);
}
