:root {
  --bongo-bg-gradient: linear-gradient(180deg, #e7b7fd 59.17%, #f2d8ff 100%);
  --bingoback-bg-gradient: linear-gradient(
    180deg,
    #fbf1ff 59.17%,
    #f2d8ff 100%
  );
  --bongo-purple: #6b0e97;
  --bongo-yellow: #ffc700;
  --bongo-tile: #f8ecfd;
  --bongo-tile-clicked: #c89eff;
  --bongo-border: 3px solid var(--bongo-purple);
  --bongo-font: "Jockey One", serif;
  --bongo-bread: "Krub", sans-serif;
  --bongo-bullet-dark: rgb(231, 183, 253);
  --bongo-bullet-light: rgb(236, 195, 255);
}

* {
  box-sizing: border-box;
}

/* #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} */

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.homeWrapperBigContainer {
  position: absolute;
  top: 25%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  background: var(--bongo-bg-gradient);
  font-family: var(--bongo-font);
}

.navbar {
  width: 100vw;
  height: 72px;
  border-radius: 2px 2px 30px 30px;
  background-color: var(--bongo-purple);
  position: absolute;
  top: 0;
  z-index: 50;
}

/* BINGO */

.bingoHeadline {
  text-align: center;
  font-size: 44px;
  color: var(--bongo-purple);
  letter-spacing: 2px;
  margin: 20px;
}

.bingoWrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  max-width: 400px;
}

.bingoTile {
  width: calc(32%);
  height: calc(33%);
  border-radius: 5px;
  border: var(--bongo-border);
  background-color: var(--bongo-tile);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1px;
}

.bingoTile.clicked {
  background-color: var(--bongo-tile-clicked);
}

.tileName {
  font-size: 15px;
  font-family: var(--bongo-font);
  text-align: center;
  margin: 0px;
  line-height: 15px;
}

.tileLocation {
  font-size: 12px;
  margin: 0px;
  text-align: center;
}

.locationWrapper {
  width: 100%;
  height: 10px;
  border-top: 3px solid var(--bongo-purple);
}

.bingoIcon {
  height: 70px;
  color: var(--bongo-purple);
}

/* MODAL */

.bingoBack,
.bingobongo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 21px 12px;
  z-index: 2;
  max-height: 644px;
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.bingoBack {
  background: var(--bingoback-bg-gradient);
}

.bingoBack > p.modalTitle {
  color: var(--bongo-purple);
}

.bingoBack > p.modalText {
  color: #000;
}

.bingobongo {
  background-color: none;
}

.overlay {
  background-color: #e7b7fd;
  opacity: 80%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
}
